html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

h1, h2, p, ul, li, button, ol {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

header {
  background-color: paleturquoise;
  color: black;
  border: 2px solid black;
}

header div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px 0;
}

header img {
  width: 40%;
  padding-bottom: 2px;
}

h1 {
  font-size: 2rem;
  text-align: center;
  font-family: 'Dosis';
  letter-spacing: 2px;
  padding-bottom: 10px;
}

main {
  background-color: peachpuff;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  font-family: 'Roboto';
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px 0px 30px 0px;
}

.selectBox {
  background-color: white;
  display: inline-block;
  position: relative;
  border: 2px solid black;
  background-color: pink;
}

.selectBox::after {
  content: '▼';
  position: absolute;
  top: 25%;
  right: 5%;
  font-weight: bold;
}

select:hover, select:focus {
  background-color: paleturquoise;
}

select {
  background-color: transparent;
  border: none;
  padding: 10px 30px 10px 10px;
  position: relative;
  font-family: 'Dosis';
  letter-spacing: 1px;
  /* to remove generic dropdown arrow: */
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.display {
  text-decoration: none;
  background-color: pink;
  border: 2px solid black;
  padding: 10px;
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Dosis';
  letter-spacing: 1px;
}

.display:hover, .display:focus {
  background-color: paleturquoise;
}

.instructions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.instructions img {
  width: 100%;
  border: 2px solid black;
}

.instructionsTextBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 20px;
  margin-bottom: 20px;
  font-weight: 500;
  padding-left: 10px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.instructionsTextBox p {
  margin-top: 15px;
}

.instructionsTextBox p:last-of-type {
  margin-bottom: 15px;
}

ul {
  list-style: none;
}

li {
  text-align: center;
}

li p {
  padding-bottom: 15px;
}

.relVillagerList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 25px;
}

.relVillagerItem {
  flex-basis: 25%;
}

.villagerButton {
  text-decoration: none;
  border: none;
  background-color: transparent;
  transition: all 0.4s;
  cursor: pointer;
}

.villagerButton:hover, .villagerButton:focus {
  background-color: lightgray;
}

.moreInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 30px;
}

.moreInfo img {
  margin-top: 10px;
  margin-bottom: 20px;
  border: 2px solid black;
}

.villagerName, .listItemName {
  font-weight: bold;
  font-size: 1.2rem;
}

footer {
  background-color:pink;
  height: 10vh;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

footer div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

footer p {
  font-size: 1rem;
  font-weight: bold;
}

@media (min-width: 500px) {
  select {
    width: 45vw;
  }

  .display {
    width: 20vw
  }
}

@media (min-width: 600px) {

  header div {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px 0px 15px 0px;
  }

  header img {
    width: 30%;
    padding-bottom: 0;
  }

  h1 {
    padding-bottom: 0;
    font-size: 2.5rem;
  }

  select, .display, .selectBox::after {
    font-size: 1.5rem;
  }

  select {
    width: 50vw;
  }

  .instructionsTextBox p {
    font-size: 1.1rem;
  }

  .relVillagerList {
    justify-content: center;
  }

  .villagerName {
    font-size: 1.5rem;
  }

  li p {
    font-size: 1.3rem; 
  }
}

@media (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }

  .instructionsTextBox p {
    font-size: 1.3rem;
    line-height: 25px;  
  }

  .moreInfo {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .showInfoTextBox {
    margin-left: 50px;
  }

  .villagerName {
    font-size: 2.5rem;
  }

  li p {
    font-size: 1.5rem;
  }
}

@media (min-width: 850px) {
  .moreInfo img {
    width: 30vw;
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 4rem;
  }

  select, .display  {
    font-size: 2rem;
  }

  select {
    width: 60vw;
  }

  .relVillagerItem {
  flex-basis: 20%;
}

  .villagerName {
    font-size: 3rem;
  }

  li p {
    font-size: 2rem;
    line-height: 40px;
  }
}
